/*universal selector*/
* 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body 
{
    background: linear-gradient(gray, black);
    min-height: 100vh;
}
header 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background-color: black;
}
header .logo 
{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
   list-style: none;
   margin-left: 20px; 
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #ffffff;
    border-radius: 20px;
    transition: font-size 2s 1s;
}
header ul li a:hover
{
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 36px;
}
.content
{
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
}
.layout
{
    margin-top: 150px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: solid;
    border-width: thick;
    color: #ffffff;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.layout:hover
{
    box-shadow: inset 0px 0px 8px
    rgb(255, 255, 255), 0 0 15px
    rgb(255, 255, 255);
}
.float
{
    float: left;
    margin-right: 25px;
}
h2
{
    margin-bottom: 100%;
    font-size: 36px;
}
.target
{
  font-size: 14px;
  transition: font-size 1s 0s;
}
.target:hover
{
    font-size: 20px;
}
